@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jalnan';
  src: url(/fonts/jalnan.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .bg-primary {
    @apply bg-white dark:bg-slate-800;
  }

  .title-font {
    @apply font-jalnan;
  }

  .btn-project {
    @apply inline-flex text-white dark:text-white bg-slate-700 dark:bg-slate-400 border-0 py-2 px-6 focus:outline-none hover:bg-slate-400 hover:text-slate-100 hover:dark:bg-slate-700 hover:dark:text-slate-200 rounded text-lg font-jalnan font-light;
  }

  .project-card {
    @apply flex flex-col m-3 rounded-xl w-60 md:w-80
    transition duration-300 transform border border-gray-300
    hover:scale-105 hover:shadow-lg
    bg-slate-100
    dark:border-gray-200/50
    dark:bg-slate-700
    dark:hover:shadow-gray-400/50
    hover:text-blue-600;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-slate-100;
}

footer {
  @apply text-gray-600 dark:text-white
  bg-gray-100 dark:bg-gray-600/50;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 hover:dark:text-slate-800 transition duration-200;
}

p {
  @apply text-slate-600 dark:text-slate-300;
}
